* {
   background-color:rgb(50,255,50);
   font-family:"Verdana", "Times New Roman";
}

.navigation {
             position:fixed;
             left:0px;
             top:0px;
             background-color:rgb(200,200,0);
}

.emphasize {
            background-color:rgb(0,155,0);
            text-align:center;
}

.warning {
          color:rgb(255,0,0);
} 